In [1]:
from pyquery import PyQuery as pq
import sys
import os
import databases
import sqlalchemy as sa
from sqlalchemy import desc
import pandas as pd
import numpy as np
# sys.path.append(top) 把392頂層目錄加到最前面 '/home/pan/django_projects/fast_api_392'
top = os.path.dirname(os.path.dirname(os.getcwd()))
sys.path.insert(0, top)
# sys.path

In [1]:
"CBAAA".rjust(11, "F")

'FFFFFFCBAAA'

In [2]:
from apps.lottery.lottery import LOTTERY
from apps.lottery.model import LOTTO
from apps.lottery.views import df_fromDB

#
DATABASE_URL = "postgresql://pan:pgcode@localhost/wtb"
db = databases.Database(DATABASE_URL, ssl=False)
#
await db.connect()

In [92]:
import pandas as pd
df = pd.DataFrame(range(4))
df

   0
0  0
1  1
2  2
3  3

In [93]:
df[0] += 1

In [94]:
df

   0
0  1
1  2
2  3
3  4

In [ ]:
cs = LOTTO.__table__.columns
w1 = LOTTO.name == LOTTERY.names.super
#
query = sa.select(cs).where(w1)  # .order_by(desc(LOTTO.ymd)).limit(100)
rows = await db.fetch_all(query)
# rows

In [ ]:
pd.DataFrame(rows)

In [ ]:
# from datetime import datetime
# datetime.strptime('2014/01/06', "%Y/%m/%d").date().weekday()
df[0].shift(-1), df[0]

In [21]:
# sss = LOTTERY('super')
df, dfasc = await df_fromDB(LOTTERY.names.super, db=db)
df

           ymd  salesamount  totalbonus   6   0   1   2   3   4   5
0    103/01/02     71747300    39461015  03  27  10  08  37  28  19
1    103/01/06     72476700    64673299  02  07  18  08  23  31  12
2    103/01/09     68661200    86249358  01  31  04  23  34  35  22
3    103/01/13     75417200   106117631  02  04  03  30  24  23  26
4    103/01/16     72969700   131726365  07  34  38  23  13  14  37
..         ...          ...         ...  ..  ..  ..  ..  ..  ..  ..
837  111/01/10     94129200   488737441  06  06  14  34  28  01  15
838  111/01/13     89257600   512612477  07  18  31  01  08  26  17
839  111/01/17     98215900   544614570  04  13  21  23  28  15  22
840  111/01/20    104484400   578718513  02  38  29  23  02  05  09
841  111/01/24    120672600   617935529  07  06  14  37  11  31  28

[842 rows x 10 columns]

In [89]:
cols = ['source', 'target']
dff = df.loc[:, 0:5].astype(int)
df_data = dff[[0, 1]].set_axis(cols, axis=1)
for i in range(1, 5):
    df_data = df_data.append(dff[[i, i + 1]].set_axis(cols, axis=1))
df_data = df_data.sort_values(by=cols).reset_index(drop=True)
df_data['value'] = 1
df_data = df_data.groupby(by=cols, as_index=False).count()
df_data = df_data.sort_values(by=['source', 'value'], ascending=[True, False]
                              ).groupby(by='source').head(1).reset_index(drop=True)
# nodes的索引處理
df_s = df_data.source.rename_axis('idx').reset_index()
df_t = df_data.target.sort_values().drop_duplicates().reset_index(drop=True).rename_axis('idx').reset_index()
df_t['idx'] = df_t['idx'] + len(df_s)
#
nodea = [{'node': idx, 'name': f"{s}號球"} for idx, s in df_s.values]
nodeb = [{'node': idx, 'name': f"{t}號球"} for idx, t in df_t.values]
nodes = nodea + nodeb
#
# source及target的索引處理
# df_data = df_data.merge(df_s, on=['source'], how='left').merge(
#     df_t, on=['target'], how='left')[['idx_x', 'idx_y', 'value']]
# links = df_data.set_axis(cols + ['value'], axis=1).to_dict(orient='records')

In [90]:
df_data

    source  target  value
0        1      15      8
1        2      21      9
2        3      20      7
3        4      38     10
4        5       3      8
5        6      14     10
6        7      27      7
7        8       2      7
8        9       8      7
9       10      14      6
10      11       5      6
11      12       5      8
12      13      30      8
13      14      16      7
14      15       4      7
15      16      10      6
16      17      13      9
17      18      31      7
18      19      13      8
19      20       6      6
20      21       1      7
21      22      26      7
22      23       6      5
23      24      15      9
24      25      31      7
25      26      24      8
26      27       6      6
27      28       5      6
28      29      10      6
29      30      14      6
30      31       4      6
31      32      20      7
32      33      13      7
33      34      13      7
34      35      27      7
35      36       2      6
36      37       1      6
37      38       6      7

In [82]:
links_data = df_data.merge(df_s, on=['source'], how='left').merge(
    df_t, on=['target'], how='left')[['idx_x', 'idx_y', 'value']]
links = links_data.set_axis(cols + ['value'], axis=1).to_dict(orient='records')
nodeb

[{'node': 77, 'name': 37}, {'node': 78, 'name': 38}]

In [88]:
df_t

    idx  target
0    38       1
1    39       2
2    40       3
3    41       4
4    42       5
5    43       6
6    44       8
7    45      10
8    46      13
9    47      14
10   48      15
11   49      16
12   50      20
13   51      21
14   52      24
15   53      26
16   54      27
17   55      30
18   56      31
19   57      38

In [ ]:
import plotly.express as px
import plotly.graph_objects as go
# df = px.data.iris()
fig = px.scatter_3d(dff, x="第一區平均", y='第一區標準差', z='第二區',
                    color='第一球'
                    )

# fig = go.Figure(
#     data=[
#         go.Scatter3d(
#             x=df['avg'],
#             y=df['std'],
#             z=df[6],
#             name='ee',
#             mode='markers',
#             marker=dict(
#                 size=6,
#                 color=df['ff'],                # set color to an array/list of desired values
#                 colorscale='Viridis',   # choose a colorscale
#                 #                 opacity=0.8
#             ),
#         ),
#     ],
#     layout=go.Layout(
#         showlegend=True,
#         title=go.layout.Title(text=f"第一球與平均"),
#         xaxis=go.layout.XAxis(title='開獎次數'),
#         yaxis=go.layout.YAxis(title='起伏波形'),
#         legend=go.layout.Legend(title='test'),
#     )
# )
fig.update_traces(marker=dict(size=6),
                  #                   selector=dict(mode='markers')
                  )
fig.update_layout(margin=dict(l=200, r=0, b=0, t=0), height=500,
                  legend=dict(
    yanchor="top",
    y=0.8,
    xanchor="left",
    x=0.01
)

)
fig.show()

In [ ]:
import plotly.graph_objects as go
dfasc['dis'] = 0
for i in range(6):
    dfasc['dis'] += (dfasc[i].astype(int)-six[i])**2
dfasc['dis'] = (dfasc['dis']**0.5).astype(int)
dfasc
#

fig = go.Figure()
fig.add_trace(go.Scatter(x=dfasc.ymd[-500:], y=dfasc.dis[-500:], fill='tozeroy'))  # fill down to xaxis
fig.add_trace(go.Scatter(x=dfasc.ymd[-500:], y=avg))  # fill down to xaxis
# fig.add_trace(go.Scatter(x=[1, 2, 3, 4], y=[3, 5, 1, 7], fill='tonexty')) # fill to trace0 y

fig.show()

In [ ]:
# import plotly.express as px
# df = dfasc_avg2amount
# fig = px.scatter_3d(df, x='avg', y='std', z='amount', color=6)
fig = px.scatter_polar(df, r='r', theta='r', animation_frame="ymd",
                       #                  animation_group="country",
                       #                        size='amount',
                       #                  color="continent", hover_name="country",
                       #                  log_x=True,
                       #                  size_max=55,
                       #                        range_x=[0, 40],
                       #                        range_y=[0, 10]
                       )
fig.show()

In [ ]:
dfasc = df
dfasc['dis'] = 0
for i in range(6):
    dfasc['dis'] += abs(dfasc[i].astype(int)-0*(i+1))**1
#     dfasc['dis'] += (dfasc[i+1].astype(int)-dfasc[i].astype(int))**2
dfasc['dis'] = (dfasc['dis']**1/6).round().astype(int)

# dfasc['dis'] = dfasc.loc[:, 0:5].astype(int).sum(axis=1)
# dfasc['dis'] = dfasc[5].astype(int)-dfasc[0].astype(int)
dfasc

In [ ]:
n = 10
# z = dfasc[:].loc[:, 6:6]  # .to_numpy().flatten()
z = dfasc.dis  # .to_numpy().flatten()
z
dd = z.value_counts().to_frame().reset_index().rename(columns={'index': '距離', 'dis': 'cnt'})
dd
# z
# dd = pd.DataFrame(z).value_counts().to_frame().rename(columns={0: 'cnt'}).reset_index()
# dd
# #
fig = px.pie(dd, values='cnt', names='距離', title='第二區號碼')
fig.update_traces(textposition='inside', textinfo='percent+label')
fig.show()

In [ ]:
# from datetime import datetime
# dfasc['ymd'] = (dfasc['ymd'].str[:3].astype(int)+1911).astype(str)+dfasc['ymd'].str[3:]
# dfasc['wd'] = dfasc['ymd'].map(lambda x: datetime.strptime(x, "%Y/%m/%d").date().weekday())+1
# dfasc[:20]

In [ ]:
# dfasc = df
# dfasc['avg'] = dfasc.loc[:, 0:5].astype(int).mean(axis=1).round().astype(int)
# dfasc['std'] = dfasc.loc[:, 0:5].astype(int).std(axis=1).round().astype(int)
# dfasc['day'] = dfasc['ymd'].str[-2:].astype(int)
# dfasc_avg2amount = dfasc[['avg', 'std', 'day', 'wd', 6, 0, 1, 2, 3, 4, 5]].copy().astype(int)
# dfasc_avg2amount['ymd'] = dfasc['ymd']
# dfasc_avg2amount['amount'] = (dfasc['salesamount']/10**1).round().astype(int)
# dfasc_avg2amount['bonus'] = (dfasc['totalbonus']/10**6).round().astype(int)
# dfasc_avg2amount['ratioba'] = 100*dfasc['totalbonus']/dfasc['salesamount']

# dfasc
dfasc_avg2amount

In [ ]:
# import plotly.express as px
df = dfasc_avg2amount
# fig = px.scatter_3d(df, x='avg', y='std', z='amount', color=6)
fig = px.scatter_polar(df, x='avg', y=6, animation_frame="ymd",
                       #                  animation_group="country",
                       size='amount',
                       #                  color="continent", hover_name="country",
                       #                  log_x=True,
                       #                  size_max=55,
                       range_x=[0, 40],
                       range_y=[0, 10]
                       )
fig.show()

In [ ]:
df = px.data.gapminder()
# fig = px.scatter(df, x="gdpPercap", y="lifeExp", animation_frame="year", animation_group="country",
#                  size="pop", color="continent", hover_name="country",
#                  log_x=True, size_max=55, range_x=[100, 100000], range_y=[25, 90])
# fig.show()
df

In [ ]:
cols = ['ymd', 'area1', 'area2']
df_s = pd.DataFrame(rows).sort_values(by=['ymd']).reset_index(drop=True)
df_s

In [ ]:
tmp = df_s.area1.str.rsplit("_", expand=True)
# tt = pd.concat([df_s, tmp], axis=1).drop(columns='area1').rename(columns={'area2': 6})
# tt.rename(columns={0:'b1'},inplace=True)
# tt['month'] = tt.ymd.str[4:6]
# tt
tmp

In [ ]:
cols = range(6)
tt[cols].astype(int).mean(axis=1).round().astype(int)  # [-2:-1]
# tt[cols].astype(int).std(axis=1).round().astype(int)
# tt[cols].astype(int).max(axis=1)
# tt[cols].astype(int).min(axis=1)

## 各月第一球之平均

In [ ]:
cols = ['month', 0, 1, 2, 3, 4, 5]
df_mb1 = tt[cols].astype(int).set_axis(['m']+list('abcdef'), axis=1)
df_mb1.loc[:, "a":"f"] = df_mb1.loc[:, "a":"f"].applymap(lambda x: [x])  # .sum()
df_mb1 = df_mb1.groupby('m').sum().sum(axis=1).to_frame().explode(0)
df_mb1 = df_mb1.reset_index().rename(columns={0: 'n'}).astype(int)
df_mb1['cnt'] = 1
df_mb1 = df_mb1.groupby(by=['m', 'n'], as_index=False).sum().sort_values(
    by=['m', 'cnt'], ascending=[True, False]).groupby('m').head(2)
df_mb1['m'] = df_mb1['m'].astype(str)
df_1 = df_mb1.groupby('m').head(1)
df_2 = df_mb1.groupby('m').tail(1)
df_mb1

In [ ]:
import plotly.graph_objects as go

x = df_mb1.m
y = df_mb1.cnt
z = df_mb1.n
# Use textposition='auto' for direct text
fig = go.Figure(
    data=[
        go.Bar(x=df_1.m, y=df_1.cnt, text=df_1.n, textposition='auto', name='最高'),
        go.Bar(x=df_2.m, y=df_2.cnt, text=df_2.n, textposition='auto', name='次高')
    ],
    layout=go.Layout(
        title=go.layout.Title(text=f"歷年各月份出現次數最高前兩名號碼(長條頂端數字)"),
        xaxis=go.layout.XAxis(title='開獎月份'),
        yaxis=go.layout.YAxis(title='開出次數'),
    )
)
fig.update_layout(barmode='group')
fig.show()

In [ ]:
import plotly.graph_objects as go

x = ['Product A', 'Product A', 'Product B', 'Product C']
y = [10, 20, 14, 23]

# Use textposition='auto' for direct text
fig = go.Figure(data=[go.Bar(
    x=x, y=y,
    text=y,
    textposition='auto',
)],
    layout=go.Layout(
    title=go.layout.Title(text=f"威力彩最近{n}筆的開獎結果 (01~38, 01~08)"),
    barmode='group',

)
)

fig.show()

## 第一球

In [ ]:
b1 = tt[0]
b11 = b1[1:].reset_index(drop=True)
b1_ = pd.concat([b1, b11], axis=1).set_axis(['第1球', '下次第1球'], axis=1).dropna()
# b1_.sort_values(by=['1'], inplace=True)
b1_ = b1_.astype(int)
b1_['下次'] = '號碼'
b1_['size'] = 0.05
# # b1_['2'] = b1_['2']+"_"
# b1_['2'] = b1_['2'].apply(lambda x: [x])
# b1_ = b1_.groupby('1', as_index=False).sum()
# b1_[:30]
b1_

In [ ]:
tmp = b1_.groupby('第1球', as_index=False).mean().round().astype(int)
tmp['下次'] = '平均'
tmp['size'] = 0.3
# b1_ = pd.concat([b1_, tmp])
# # px.data.iris()
# b1_
tmp

In [ ]:
import plotly.express as px
df = b1_  # px.data.iris()  # iris is a pandas DataFrame
fig = px.scatter(df, x="第1球", y="下次第1球",
                 title='兩次第一球之關係',
                 color="下次", size='size'
                 )
# df.sort_values(by=['sepal_width','sepal_length'], inplace=True)
# fig = px.scatter(df, x="sepal_width", y="sepal_length")
fig.show()
# df

## overview

In [ ]:
import plotly
from plotly.offline import plot as pt
import plotly.express as px
import plotly.io as pio
import plotly.graph_objects as go
pio.renderers.default = "iframe"
#
# df = px.data.stocks()
# fig = px.line(df, x='date', y="GOOG")
# fig.show()
n = 100
d1 = go.Scatter(x=tt['ymd'].tolist()[:n], y=tt[0].astype(int).tolist()[:n], name='11')
d2 = go.Scatter(x=tt['ymd'].tolist()[:n], y=tt[1].astype(int).tolist()[:n], name='22')
data = [d1, d2]
fig = go.Figure(
    data=data,
    layout=go.Layout(
        title=go.layout.Title(text="最近"),
        xaxis=go.layout.XAxis(title='開獎日期'),
        yaxis=go.layout.YAxis(title='XXX'),
        legend=go.layout.Legend(title='XXX'),
    )
)
fig.show()
# pt(data, output_type='div')

In [ ]:
fig = go.Figure()

fig.add_trace(d1)
fig.add_trace(d2)
fig.update_layout(
    title="Plot Title",
    xaxis_title="X Axis Title",
    yaxis_title="Y Axis Title",
    legend_title="Legend Title",
    font=dict(
        family="Courier New, monospace",
        size=18,
        color="RebeccaPurple"
    )
)

fig.show()